<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>3rdPartyAdapter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>3rdPartyResources.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SamplePackageB-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SamplePackageB-iOS-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SamplePackageB-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SamplePackageB-macOS-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SamplePackageB-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SamplePackageB.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ThirdPartyAdapter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ThirdPartyResources.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3rdPartyAdapter</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3rdPartyResources</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SamplePackageB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SamplePackageB-iOS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SamplePackageB-macOS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SamplePackageBTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ThirdPartyAdapter</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ThirdPartyResources</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
